body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.weather-app-wrapper {
   max-width: 600px;
   margin: 30px auto;
}
.weather-app {
   padding: 40px;
   border: 1px solid #dfe9fa;
   border-radius: 35px;
   background-color: rgb(162, 238, 238);
}
.overview {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #dfe9fa;
   border-radius: 35px;
   background-color: rgb(243, 192, 235);
   text-align: center;
}
.weather-temperature {
     padding: 20px;
    border: 1px solid #dfe9fa;
   border-radius: 35px;
   background-color: rgb(248, 179, 179);
}
.weather-temperature img {
margin-right: 10px;
height: 64px;
width: 64px;
 padding: 5px;
    border: 1px solid #dfe9fa;
   border-radius: 35px;
   background-color: rgb(192, 223, 241);
}
.weather-temperature strong {
    color: rgb(33, 33, 33);
font-size: 64px;
line-height: 1;
font-weight: 400;
}
.weather-temperature .units {
position: relative;
font-size: 16px;
top: -34px;
}
h1 {
    color: black;
    display:block;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
    text-align: center;
     padding: 20px;
    border: 1px solid #dfe9fa;
   border-radius: 35px;
   background-color: rgb(179, 243, 190);
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

li::first-letter{
text-transform: capitalize;
}

.weather-temperature .active {
color: black;
cursor: default;
}
.weather-temperature .active:hover{
    text-decoration: none;
}

.weather-forecast {
    margin: 20px;
    text-align: center;
    color: #000;
     padding: 20px;
    border: 1px solid #dfe9fa;
   border-radius: 35px;
   background-color: rgb(186, 187, 247);
}

.weather-forecast-date {
    font-size: 16px;
    opacity: 0.6;
}

.weather-forecast-temperature {
font-size: 13px;
}
.weather-forecast-temperature-min {
    opacity: 0.6;
}
.side-bar {
     padding: 10px;
    border: 1px solid #dfe9fa;
   border-radius: 35px;
   text-align: center;
   font-size: 25px;
   background-color: rgb(243, 248, 193);
   display: block;
}